.page-header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;

    background-color: $white;
    z-index: 2;

    border-bottom: 1px solid $secondary-border-color;

    @media screen and (min-width: 768px) {
        height: 80px;
    }
}

.main-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-button{
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;

    .icon-cross{
        display: none;
    }

    &.is-open .icon-cross{
        display: block;
    }
    
    &.is-open .icon-menu{
        display: none;
    }

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.icon-menu{
    fill: currentColor;

    &:hover,
    &:focus{
        color: $accent;
    }
}

.icon-cross{
    fill: currentColor;

    &:hover,
    &:focus{
        color: $accent;
    }
}

.menu-container{
    width: 100%;
    z-index: 2;
    
    @media screen and (max-width: 767px) {
        display: none;
        position: fixed;
        top: 60px;
        left: 0;
        
        padding: 60px;
        text-align: center;

        background-color: $white;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);

        &.is-open{
            display: block;
        }
    }
    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin-left: 88px;
    }
    @media screen and (min-width: 1200px) {
        margin-left: 93px;
    }
}

.site-nav{
    @media screen and (max-width: 767px){
    margin-bottom: 60px;
}
    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.site-nav .item{
    @media screen and (max-width: 767px){
        margin-bottom: 40px;
    }
    @media screen and (min-width: 768px){
        margin-right: 50px;
    }
}

.site-nav .item:last-child{
    @media screen and (max-width: 767px){
        margin-bottom: 0;
    }
    @media screen and (min-width: 768px){
        margin-right: 0;
    }
}

.site-nav .link{
    display: inline-block;
    
    color: $title-text-color;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.02em;

    transition: color 250ms $timing-function;

    @media screen and (min-width: 768px){
        font-size: 14px;
    }

    @media screen and (min-width: 1200px){
        line-height: 1.14;
    }

    &:hover, 
    &:focus{
        color: $accent;
    }
}

.site-nav .link.current{
    color: $accent;
}

.link.current{
    position: relative;
    
    &::after{
        content: "";

        position: absolute;
        bottom: -8px;
        left: 0;

        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: $accent;
    }
}

.link.current::after{
    @media screen and (min-width: 768px) {
        bottom: -32px;
    }
}

.main-nav{
    @media screen and (min-width: 768px){
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.contacts{
    @media screen and (min-width: 1200px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.contacts .link{
    color: $primary-text-color;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.02em;

    transition: color 250ms $timing-function;

    @media screen and (min-width: 768px){
        display: flex;
        justify-content: flex-start;
        align-items: center;

        font-size: 12px;
    }
    @media screen and (min-width: 1200px){
        justify-content: space-between;

        font-size: 14px;
        line-height: 1.14;
    }

    &:hover, 
    &:focus{
        color: $accent;
    }
}

.contacts-icon{
    margin-right: 10px;
    fill: currentColor;

    @media screen and (min-width: 768px){
        margin-right: 8px;
    }
}

.item.mail{
    margin-bottom: 16px;

    @media screen and (min-width: 768px){
        margin-bottom: 12px;
    }

    @media screen and (min-width: 1200px){
        margin-bottom: 0;
        margin-right: 30px;
    }
}


