.logo{
    margin-right: 93px;

    font-family: $secondary-font;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;

    &-first-part{
        color: $accent;
    }
    &-second-part{
        color: $black;
    }
}

.footer .logo-second-part{
    color: $white;
}