.filters{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.filters .item + .item{
    margin-left: 8px;
}
.button{
    border: none;
    border-radius: 4px;
    padding: 6px 22px;

    color: $title-text-color;
    background-color: $secondary-bg-color;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;

    transition: background-color 250ms $timing-function, 
    color 250ms $timing-function, 
    box-shadow 250ms $timing-function;

    &:hover,
    &:focus{
        color: $white;
        background-color: $accent;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}

.portfolio{
    padding-bottom: 94px;
    padding-top: 94px;
}

.project-examples{
    display: flex;
    flex-wrap: wrap;

    h2{
        margin-top: 0;
        margin-bottom: 0;
    
        color: $title-text-color;
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
    }
}

.project-examples .item{
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;

    &:nth-child(3n){
        margin-right: 0;
    }
    &:nth-last-child(-n + 3){
        margin-bottom: 0;
    }
}

.project-card{
    display: block;
    
    transition: box-shadow 250ms $timing-function;

    &:hover{
        box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
    }
}

.project-description{
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 63px 24px;

    font-size: 18px;
    line-height: 1.56;
    color: $white;
    
    opacity: 0;
    transition: opacity 250ms $timing-function;

    .project-card:hover &{
        opacity: 1;   
    }
}

.overlay{
    position: relative;
    overflow: hidden;

    &::before{
        content: "";
        display: inline-block;
    
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(33, 150, 243, 0.9);
    
        transform: translateY(100%);
        transition: transform 250ms $timing-function;
    }
}

.project-card:hover .overlay::before{
    transform: translateY(0);
}

.project-type{
    margin-top: 4px;
    margin-bottom: 0;
    
    color: $primary-text-color;
    font-size: 16px;
    line-height: 1.87;
}
.project-details{
    padding: 20px 24px;
    background-color: $white;
    border-right: 1px solid $border-color;
    border-left: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
}


