    $primary-text-color: #757575;
    $title-text-color: #212121;
    $accent: #2196F3;
    $white: #FFFFFF;
    $secondary-white: rgba(255, 255, 255, 0.6);
    $black: #000000;
    $secondary-bg-color: #F5F4FA;
    $tertialy-bg-color: #2F303A;
    $border-color: #EEEEEE;
    $secondary-border-color: #ECECEC;
    $icon-default-color: #afb1b8;
    $hover-button-color: #188CE8;
    $timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    $primary-font: Roboto, sans-serif;
    $secondary-font: Raleway, sans-serif;